.reslider{
    height: 500px;
}
body{
    padding: 55px;
    font-family: 'Varela Round', sans-serif;
}
.hakkimizda{
    background-color: #f2f2f2;
}
.ayrac{
    border: none;
    border-top: 4px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}
.ibeyaz{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 50px;
    border: 10px solid white;
    background-color:white;
}
.igri{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 50px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}
.eCard>img:hover{
    opacity: 0.8;
}
.Galeri{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.6;
}
